* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
}

body {
  background: #363636;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#calculator {
  background: beige;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 400px;
  height: 600px;
  gap: 5px;
  padding: 25px;
  border-right: 15px outset #c4c4b0;
  border-bottom: 15px outset #c4c4b0;
  border-radius: 30px;
  filter: drop-shadow(10px 10px 10px black);
}

.display {
  background: black;
  color: lime;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 335px;
  height: 145px;
  padding: 10px 20px;
  border-top: 5px inset #c4c4b0;
  border-left: 5px inset #c4c4b0;
  border-radius: 20px;
  margin-bottom: 5px;
}

.upper {
  font-size: 2em;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  height: 40px;
}

.lower {
  font-size: 4em;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex: 0 0 auto;
  height: 80px;
}

.logo {
  color: yellow;
  font-family: monospace;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  text-shadow: 2px 2px 1px crimson, 1px 1px 4px black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin: 10px 0px;
}

.row {
  display: flex;
  flex: 0 0 auto;
  height: 60px;
  gap: 5px;
}

.button {
  background: #939384;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  width: 80px;
  border-right: 5px outset #626258;
  border-bottom: 5px outset #626258;
  border-radius: 10px;
}

.clear,
.delete {
  background: crimson;
  border-color: #b01030;
}

.operator,
.percent {
  background: turquoise;
  border-color: #33b3a6;
}

.equals {
  background: #00e000;
  border-color: #00b300;
}

.pressed {
  border-top: 3px solid antiquewhite;
  border-left: 3px solid antiquewhite;
  border-right-width: 2px;
  border-right-style: outset;
  border-bottom-width: 2px;
  border-bottom-style: outset;
}
 